{% extends 'base.html' %} {% block title %}Tricycle Liste{% endblock %}{% load static %} 
{% block style %}
<style>
  .message {
    border-radius: 15% 85% 15% 85% / 100% 0% 100% 0% ;
  }
</style>
{% endblock style %}

{% block content %}
<br><br><br><br><br> <br>
<p></p>
<div class="container">

    <div class="row mx-4">
  
      <div class="col-lg-9 mx-auto">
  
        <div class="message">
  
          <h4 class="text-center mx-auto">
            <strong>Paiement effectué, Merci!!!</strong>
          </h4>
  
        </div>
  
        
  
      </div>
  
    </div>
  
  </div>
  

{% endblock content %}